body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background-color: black;
}

#title {
    top: 12.5%;
    position: fixed;
    color: rgb(228, 228, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
}
#box { width: 700px;
    height: 400px;
    background-color: rgb(4, 4, 4); 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-radius: 30px; 
    box-shadow: 0px 11px 20px -17px rgb(20 20 20); 
    position: relative; 
}
#animation {
    color: beige;
    height: 34px;
    width: 100px;
    background-color: rgb(61, 61, 167);
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 4px 28px -2px rgb(47 47 231);
    animation-name: ps;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    margin-left: 0px;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
}
@keyframes ps{
    from {height: 34px;}
    1% {color: #4967ec;}
    30% {color: beige;}
    to {height: 126px;}
}


#text{
    margin-top: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation-name: ts;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    margin-top: 10%;
    zoom: 146%;
}
/* #animation2 {
    color: #bdbdbd;
    height: 40px;
    width: 100px;
    background-color: rgba(63, 63, 255, 0);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 15px;
    box-shadow: 1px 4px 28px -2px rgb(47 47 231);
    animation-name: ps2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    margin-left: 0px;
    margin-top: 15px;
} */

#rt  
     { color: #d9d9d9;
        position: absolute;
        bottom: 16px;
        left: 22px;
        background-color: rgb(63, 63, 255);
        width: 60px;
        height: 20px;
        text-align: center;
        border-radius: 6px;
        box-shadow: 1px 1px 14px -7px rgb(63, 63, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: background-color 0.1s ease-in;
    }
#rt:active {
        background-color: #4967ec;
        box-shadow: 1px 1px 14px -7px rgba(63, 63, 255, 0.527);
    }
#rt:hover {
        background-color: #4967ec3a;
    }