body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background-color: black;
}


#title {
    top: 12.5%;
    position: fixed;
    color: rgb(228, 228, 228);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
}

#box { width: 700px;
    height: 400px;
    background-color: rgb(4, 4, 4); 
    display: flex; 
    justify-content: center;
    align-items: center; 
    border-radius: 30px; 
    box-shadow: 0px 11px 20px -17px rgb(20 20 20); 
    position: relative; }



#animation {
        color: beige;
        height: 100px;
        width: 15px;
        background-color: rgb(63, 63, 255);
        text-align: center;
        border-radius: 15px;
        box-shadow: 1px 4px 28px -2px rgb(47 47 231);
        animation-name: ps;
        animation-duration: 1.5s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-delay: 2s;
        position: relative;
        z-index: 2;
    }
@keyframes ps{
    0% {transform: rotate(0deg);}
    10% {transform: rotate(20deg);}
    70% {transform: rotate(320deg);}
    100% {transform: rotate(360deg);}
}

#animation2 {
    color: beige;
    height: 100px;
    width: 15px;
    background-color: rgb(63, 63, 255);
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 4px 28px -2px rgb(47 47 231);
    animation-name: ps2;
    animation-duration: 3.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    position: relative;
    z-index: 2;
}
@keyframes ps2{
0% {transform: rotate(0deg);}
10% {transform: rotate(20deg);}
70% {transform: rotate(320deg); background-color: aqua; box-shadow: 1px 4px 28px -2px aqua;}
100% {transform: rotate(360deg);}
}
#animationbg {
        box-shadow: 1px 4px 28px 20px rgb(117, 2, 170);
        width: 100px;
        height: 100px;
        position: fixed;
        border-radius: 400px;
        animation-name: tsbg;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
        transition: ease-in-out;
        z-index: 1;
    }
@keyframes tsbg {
    0% {box-shadow: 1px 4px 28px 20px rgb(228, 228, 228);}
    50% {box-shadow: 1px 4px 48px 30px rgb(0, 133, 82);}
    100% {box-shadow: 1px 4px 28px 20px rgb(170, 27, 2);}
}


#rt { 
        color: #d9d9d9;
        position: absolute;
        bottom: 16px;
        left: 22px;
        background-color: rgb(63, 63, 255);
        width: 60px;
        height: 20px;
        text-align: center;
        border-radius: 6px;
        box-shadow: 1px 1px 14px -7px rgb(63, 63, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transition: background-color 0.1s ease-in;
    }
#rt:active {
        background-color: #4967ec;
        box-shadow: 1px 1px 14px -7px rgba(63, 63, 255, 0.527);
    }
#rt:hover {
        background-color: #4967ec3a;
    }